<launch>
    <!-- Khởi động Gazebo với một world rỗng -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
    </include>

    <!-- Load mô hình URDF vào Gazebo -->
    <param name="robot_description" command="$(find xacro)/xacro $(find robile_robot)/urdf/robile_robot.urdf" />

    <!-- Spawn robot vào Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model robile_robot" />


</launch>
