<launch>
  <!-- Robot model -->
  <param name="robot_description" textfile="$(find robile_robot)/urdf/robile_robot.urdf"/>
	
  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- Spawn model -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model robile_robot" />

  <!-- Load diff_drive params -->
  <rosparam file="$(find robile_robot)/config/diff_drive.yaml" command="load"/>

  <!-- Controller -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="diff_drive_controller" output="screen"/>
</launch>

