<launch>
  <!-- Load robot model -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find robile_robot)/xacro/robile_robot_ur5.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> 
  <!-- Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robile_robot)/world/world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model my_robot" />

  <!-- Start controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="joint_state_controller ur5_arm_controller" />

  <!-- MoveIt planning backend -->
  <include file="$(find ur5_moveit_config)/launch/move_group.launch" />

  <!-- RViz with MoveIt -->
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch" />
</launch>